:root {
    --black: #393939;
    --white: #ececec;
    --tipo-principal: 'Montserrat', sans-serif;
    --tipo-secondary: Verdana;
}

@media (prefers-color-scheme: dark) {
    :root {
        --black: #ececec;
    }
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: baseline;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
li,
ul,
a,
strong,
blockquote,
i,
u,
em {
    font-size: 1em;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color: inherit;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

::-moz-selection {
    background-color: var(--negro);
    color: var(--blanco);
}

::selection {
    background-color: var(--negro);
    color: var(--blanco);
}

form,
input,
textarea,
select,
button,
label {
    font-family: inherit;
    font-size: inherit;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    background-color: transparent;
    color: inherit;
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

table,
tr,
td {
    border-collapse: collapse;
    border-spacing: 0;
    border: none;
}

svg {
    width: 100%;
    display: block;
    fill: currentColor;
}

body {
    min-height: 100vh;
    font-size: 100%;
    line-height: 1.4em;
    font-family: var(--tipo-principal);
    color: var(--negro);
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* =============================================================== */


.bg-color-fluid {
    background: #F6F9FB
}


.header {
    flex-direction: row;
    display: flex;
    align-items: center;
    min-height: 6em;
    margin-top: 1em;
    -webkit-box-shadow: 0 10px 6px -6px #c2c2c2;
    -moz-box-shadow: 0 10px 6px -6px #c2c2c2;
    box-shadow: 0 10px 6px -6px #c2c2c2;
}

.header__logo--l {
    margin-left: 1em;
    width: 25em;
    margin-top: -0.8em;
}

.header__logo--r {
    margin-right: 6em;
    width: 18em;
    margin-top: -1em;
}



.header__paragraph {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5em;
    min-width: 35em;

    background-color: #deffd2;
}

/* .transferta__table {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: -2em;
    width: 22.6em;

} */

/* ============start============= */

.transferta {
    justify-content: space-between;
    margin: 0 -4em 0 4.750em;
    margin-top: -1.4em;

    
}


.transferta__number--text {
    position: absolute;
    font-size: 1.2rem;
    color: #777B89;
    font-weight: 800;
    margin-right: 3.1rem;
    margin-left: 2em;



 
}

.transferta__number--number {
    
    position: relative;
    font-size: 1.2rem;
    color: #459829;
    font-weight: 800;
    margin-left: 8.5em;
}

.transferta__customer--customer {
    
    font-size: 1.2rem;
    color: #459829;
    font-weight: 800;
    margin-right: 5.5em;
    z-index: 3;
}
.transferta-container {
    
    min-height: 5em;

}

/* ============end============= */












.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 1em 2em;
    background-color: #ffffff;

}

.container::after {
    content: "";
    display: block;
    clear: both;
}

.container .card {
    width: calc(45% - 2em);
    float: left;
    margin: 0;
    border: none;
    gap: 0;
}

.container .total {
    width: calc(15% - 2em);
    float: left;
    margin: 0;
    min-height: 7.8em;
}

.container .card {
    background-color: hsl(191, 35%, 94%);
}

.itinerario {
    padding: 0 3em;
}


.card {
    border-radius: 16px;
    border-style: none;
}

.card .row-principal {
    box-shadow: 1px 8px 11px -1px rgb(2, 78, 15);
    -webkit-box-shadow: 1px 8px 11px -1px rgba(0, 0, 0, 0.31);
    -moz-box-shadow: 1px 8px 11px -1px rgba(0, 0, 0, 0.31);
    border-radius: 20px 20px;
}

.card-border-end {
    border-end-end-radius: 16px !important;
    border-start-end-radius: 16px !important;
}

.card-border-start {
    border-start-start-radius: 16px !important;
    border-end-start-radius: 16px !important;
}

.text-gray {
    color: #777B89;
    font-weight: 600;
}

.text-green {
    color: #459829;
    font-weight: 800;
}

.bg-green {
    background-color: #459829;
}

.content-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.border-fluid {
    border-radius: 16px;
}

.bg-gray {
    background-color: #F7F8FA;
}

.bl-line {
    border-left: 4px solid #F6F9FB;
}

/* timeline */
ul.timeline {
    list-style-type: none;
    position: relative;
}

ul.timeline>li {
    margin: 20px 0;
    padding-left: 20px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

dl,
ol,
ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

ul.timeline>li:before {
    content: '';
    display: inline-block;
    ;
    position: absolute;
    border-radius: 50%;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}

.title-section {
    position: absolute;
    top: -50px;
    left: 0;
    z-index: 99999;
}

.absolute-align-left {
    position: absolute;
    left: 0px;
    z-index: 99999;
}

.mt-7 {
    margin-top: 90px;
}

.timeline-icon {
    position: absolute;
    left: 15px;
    background-color: #F6F9FB;
    z-index: 99999;
    border-radius: 50%;
    font-size: 20px;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    font-size: 14px;
}

.text-bold {
    font-weight: 600 !important;
    font-size: 2.5vw;

}

@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1520px;
    }
}

@media (min-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1540px;
    }
}

/* @media (min-width: 992px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm {
        max-width: 1600px;
    }
} */

@media(max-width: 768px) {
    .bl-line {
        border-top: 4px solid #F6F9FB;
        border-left: none;
        padding-top: 15px;
    }
}

/* Configuration responsive 
@media (min-width: 1439.98px) and (max-width: 1999.98px) {
    
    
    .header {
        background-color: rgb(247, 247, 247);
    }

    .header__paragraph {
        font-size: 1rem;
        min-width: 38em;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 1em 1em 3em;
    }


    .transferta__number--text {

        font-size: 0.9rem;
        margin-right: 1.9rem;
        margin-left: 0.5rem;
        margin-top: 0.1em;
        color: #777B89;
        font-weight: 800;
        z-index: 3;
    }

    .transferta__number--number {

        font-size: 0.9rem;
        margin-top: 0.1em;
        color: #459829;
        font-weight: 800;
    }
    
    .transferta__customer--customer {

        font-size: 0.9rem;
        margin-right: 10.1rem;
        margin-top: 0.1em;
        color: #459829;
        font-weight: 800;
        z-index: 3;
    }


}

@media (min-width: 1024px) and (max-width: 1439.98px) {

    .header {
        background-color: rgb(255, 255, 255);
    }

    .header__paragraph {
        font-size: .8rem;
        min-width: 38em;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 1em 1em 3em;
    }


    .transferta__number--text {

        font-size: .7rem;
        margin-right: .750rem;
        margin-left: 0.5rem;
        margin-top: -1em;
        color: #777B89;
        font-weight: 800;
        z-index: 3;
    }

    .transferta__number--number {
        
        font-size: .7rem;
        margin-top: -1em;
        color: #459829;
        font-weight: 800;
    }

    .transferta__customer--customer {

        font-size: .7rem;
        margin-right: 6.1rem;
        margin-top: -1em;
        color: #459829;
        font-weight: 800;
        z-index: 3;
    }


}


@media (min-width: 768px) and (max-width: 1023.98px) {


    .header {
        background-color: rgb(255, 255, 255);
    }

    .header__paragraph {
        font-size: 0.7rem;
        min-width: 30em;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0.2em 0.2em 4em;
    }

    .transferta__number--text {

        font-size: 0.550rem;
        margin-right: 1.4rem;
        margin-left: -1.2rem;
        margin-top: -1.4em;
        color: #777B89;
        font-weight: 800;
        z-index: 3;
    }

    .transferta__number--number {

        font-size: 0.550rem;
        margin-top: -1.4em;
        color: #459829;
        font-weight: 800;
    }

    .transferta__customer--customer {

        font-size: 0.550rem;
        margin-right: 5.2rem;
        margin-top: -1.4em;
        color: #459829;
        font-weight: 800;
        z-index: 3;
    }


}



@media screen and (max-width: 767.98px) {

    .navbar-brand{
        display: none;
   
    }

    .header__logo--l {
        margin-left: 1em;
        width: 15em;
        margin-top: -3em;
    }
    
 
    .header__logo--r {
        margin-left: .7em;
        width: 9em;
        margin-top: -1em;
    }

  /*   .transferta {
      
        display: none;
        min-width: 2%;
        margin: 0 -4em 0 4.750em;
        margin-top: -1.4em;
        background-color: #98802968;
    } */
    /*
    .header__paragraph {
        
        font-size: 0.5rem;
        min-width: 29em;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 2em 0.2em 5em;
    }

    .transferta__number--text {

        font-size: 0.7rem;
        margin-right: 0.4rem;
        margin-left: -2.2rem;
        margin-top: -1.4em;
        color: #777B89;
        font-weight: 800;
        z-index: 3;
    }

    .transferta__number--number {
        font-size: 0.7rem;
        margin-top: -1.4em;
        color: #459829;
        font-weight: 800;
    }

    .transferta__customer--customer {
        
        font-size: 0.550rem;
    
        color: #459829;
        font-weight: 800;

    } 

}
*/
